section.business
  .container
    .business__wrapper
      .flex-wrap
        .business__left
          .business__header
            span Всегда мечтал  о собственном деле?
          .business__items
            +bsItem
        .business__right
          .business__button
            +button('btn', 'button', 'btn-img', 'img/btn_txt.svg', 'btn')
  .business__bg_img
    img(src="img/men_mobV2.png",alt="men2_mob")
  .clear

