section.chenging
  .container
    .chenging__wrapper
      .chenging__header
          span Запустить маштабные изменения ПРОСТО
      ul.chenging__items.flex-wrap
        li.chenging__item
          .chenging__icon.ch1
          span.chenging__txt.
            Получи первичную
            информацию просто
            оставив заявку на
            сайте
        li.chenging__item
          .chenging__icon.ch2
          span.chenging__txt.
            С тобой свяжется
            Ментор, который
            расскажет все
            детали
        li.chenging__item
          .chenging__icon.ch3
          span.chenging__txt.
            Ты подключишься к
            игре, где проходя
            уровни, будешь
            зарабатывать
            реальные деньги
        li.chenging__item
          .chenging__icon.ch4
          span.chenging__txt.
            Создашь
            свой бизнес и
            будешь заниматься
            его развитием

