section.get
  .container
    .get__wrapper
      .get__right
        .get__header
          span Учавствуй в проекте MAGIC LIFE и получи:
        .get__items.flex-wrap
          .get__item
            .get__title
              span Возможность открыть свое дело без вложений и риска
            .get__txt
              span.
                Построй свой бизнес на готовой
                платформе крупной международной
                компании с гарантирванным
                финансовым результатом
          .get__item
            .get__title
              span Профессиональное обучение
            .get__txt
              span.
                Получи полезные навыки в игровой
                увлекательной форме в следующих
                специализациях: онлайн-бизнес,
                продвижение в соцсетях,
                блогерство и инфобизнес
          .get__item
            .get__title
              span Помощь команды
            .get__txt
              span.
                Стань членом успешного
                сообщества ярких и амбициозных
                людей, которые
                развиваются вместе с тобой
          .get__item
            .get__title
              span Свободу
            .get__txt
              span.
                Путешествуй и зарабатывай
                удаленно из любой точки планеты.
                Строй свою жизнь так, как этого
                хочешь именно ты
      .clear
  .get__bg_img
    img(src="img/women2_mob.png",alt="women2_mob")