section.scills
  .container
    .scills__wrapper
      .scills__header
        span.
          Проходя уровни игры сможешь
          прокачать следующие навыки
      .scills__items.flex-wrap
        .scills__left
          .scills__item
            .scills__icon.si1
            span.scills__txt.
              Сьемка, захватывающих и
              живых видиоисторий,
              которые сделают тебя
              популярным и узнаваеым
          .scills__item
            .scills__icon.si2
            span.scills__txt.
              Профессиональное
              ведение социальных сетей,
              которое позволит тебе
              стать профессиональным
              блогером с тысячной
              аудиторией
          .scills__item
            .scills__icon.si3
            span.scills__txt.
              SMM - продвижение
              твоего аккаунта. Быстрое
              привлечение потока заявок
              из интернета
              в собственный бизнес
        .scills__right
          .scills__item
            .scills__icon.si4
            span.scills__txt.
              Создание впечатляющих
              мобильных фотографий,
              которые собирают тысячи
              лайков и привлекают
              новую аудиторию
          .scills__item
            .scills__icon.si5
            span.scills__txt.
              Писать сочные и вкусные
              истории. Продающие
              посты, вовлекающие
              людей в яркую жизнь
          .scills__item
            .scills__icon.si6
            span.scills__txt.accent-txt.
              Создашь свой
              личный бренд

