section.system
  .container
    .system__wrapper
      .system__wrap-child
        .system__header
          span.
            MAGIC LIFE<br>
            - это система пошагового обучения
        .system__items.flex-wrap
          .system__left
            .system__item
              span.system__txt.
                Играешь, выполняешь
                интересные задания
            .system__item
              span.system__txt.
                Применяешь на
                практике
          .system__right
            .system__item
              span.system__txt.
                Обретаешь
                полезные навыки
            .system__item
              span.system__txt.
                Сразу монетизируй<br>
                и получай доход
      .clear
  .system__bg_img
    img(src="img/women1_mob.png",alt="women1_mob")
  .clear