header.header
  .container
    .header__wrapper
      .flex-wrap
        .header__left
          .header__logo
            include ../../components/logo
        .header__right
          .header__submit
            .header__text.
              Это ИГРА, пройдя которую
              ТЫ получишь готовый
              прибыльный БИЗНЕС
            .header__button
              +button('btn', 'button', 'btn-img', 'img/btn_txt.svg', 'btn')
            .header__mobile
              img(src="img/car_mob.png", alt="car_mob")
      .header__social
        include ../../components/social_icons





