ul.soc_icons
  li.soc_icons__icon
    a.soc_icons__link.vk(href="https://vk.com/magiclifegame", target="_blank")
  li.soc_icons__icon
    a.soc_icons__link.fb(href="https://www.facebook.com/magiclifegame/", target="_blank")
  li.soc_icons__icon
    a.soc_icons__link.insta(href="https://www.instagram.com/magic_life_game/", target="_blank")