extends libs/layout

block title
    title Template v3.5

block content
    //header
    include includes/static/header

    //content
    include includes/index/content

    //footer
    include includes/static/footer


