.footer
  width: 100%
  height: 1037px
  position: relative
  background: url(../img/last_bg1.jpg) no-repeat center center
  clip-path: polygon(50% 5.2%, 100% 0, 100% 100%, 0 100%, 0 0)
  -webkit-clip-path: polygon(50% 5.2%, 100% 0, 100% 100%, 0 100%, 0 0)
  box-sizing: border-box
  margin-top: -38px
  object-fit: cover
  +ie-style
    margin-top: 15px
  +respond-to(924)
    height: 1100px
    clip-path: polygon(50% 4.9%, 100% 0, 100% 100%, 0 100%, 0 0)
    -webkit-clip-path: polygon(50% 4.9%, 100% 0, 100% 100%, 0 100%, 0 0)
  +respond-to(834)
    height: 1780px
    clip-path: polygon(50% 3.1%, 100% 0, 100% 100%, 0 100%, 0 0)
    -webkit-clip-path: polygon(50% 3.1%, 100% 0, 100% 100%, 0 100%, 0 0)
    background-image: linear-gradient(-57deg, #293b4e 21%, #889da8 38%, #293b4e 58%)    //#305373 #889da8
    object-fit: cover
  +respond-to(800)
    clip-path: polygon(50% 3.9%, 100% 0, 100% 100%, 0 100%, 0 0)
    -webkit-clip-path: polygon(50% 3.9%, 100% 0, 100% 100%, 0 100%, 0 0)
    margin-top: -52px
  +respond-to(697)
    height: 1645px
    clip-path: polygon(50% 4.1%, 100% 0, 100% 100%, 0 100%, 0 0)
    -webkit-clip-path: polygon(50% 4.1%, 100% 0, 100% 100%, 0 100%, 0 0)
  +respond-to(501)
    height: 1275px
    clip-path: polygon(50% 5.4%, 100% 0, 100% 100%, 0 100%, 0 0)
    -webkit-clip-path: polygon(50% 5.4%, 100% 0, 100% 100%, 0 100%, 0 0)
  +respond-to(470)
    height: 1078px
    clip-path: polygon(50% 6.4%, 100% 0, 100% 100%, 0 100%, 0 0)
    -webkit-clip-path: polygon(50% 6.4%, 100% 0, 100% 100%, 0 100%, 0 0)
  +respond-to(390)
    height: 975px
    clip-path: polygon(50% 6.9%, 100% 0, 100% 100%, 0 100%, 0 0)
    -webkit-clip-path: polygon(50% 6.9%, 100% 0, 100% 100%, 0 100%, 0 0)
  &__wrapper
    padding-top: 75px
    position: relative
    +respond-to(834)
      position: absolute
      top: 0
      left: 0
      right: 0
  &__top
    width: 100%
  &__logo
    display: inline-block
    float: left
    +respond-to(834)
      float: none
      width: 327px
      position: relative
      top: -210px
      left: 50%
      transform: translateX(-50%)
    +respond-to(502)
      width: 154px
      top: -135px
  &__header
    display: inline-block
    font-family: $extra
    font-size: 48px
    font-weight: 400
    color: $white
    word-spacing: 4px
    line-height: 1
    +text-shadow
    margin-left: 5%
    padding-top: 35px
    +respond-to(961)
      margin-left: 1%
    +respond-to(924)
      font-size: 40px
    +respond-to(834)
      width: 100%
      position: absolute
      top: -64%
      left: 10%
    +respond-to(761)
      top: -65%
    +respond-to(697)
      top: -60%
    +respond-to(630)
      top: -50%
      left: 5%
    +respond-to(501)
      top: -104%
      left: 0
      font-size: 30px
    +respond-to(474)
      top: -150%
    +respond-to(436)
      top: -100%-87%
    +respond-to(410)
      top: -130%
    +respond-to(386)
      top: -85%
      font-size: 25px
    +respond-to(355)
      top: -81%
  &__items
    width: 100%
    position: relative
    height: 46vh
    +respond-to(1125)
      height: 90vh
    +respond-to(834)
      position: relative
      height: 50vh //30vh
      margin-top: -135px
      width: 60% //306px
      left: 50%
      transform: translateX(-50%)
    +respond-to(630)
      height: 60vh
    +respond-to(501)
      height: 35vh
      width: 306px
    //+respond-to(474)
    //  height: 80vh
  &__item
    font-family: $extra
    font-size: 36px
    color: $white
    +text-shadow
    position: absolute
    +respond-to(961)
      font-size: 30px
    +respond-to(834)
      position: static
      margin-bottom: 25px
      font-size: 30px //18px
    +respond-to(501)
      font-size: 18px
  &__button
    width: proc(670,1170)
    height: 81px
    position: absolute
    left: 50%
    bottom: -137px
    transform: translateX(-50%)
    +respond-to(834)
      width: 100%
      max-width: 306px
      img
        width: 100%
  &__img_bg
    display: none
    +respond-to(834)
      display: block
      width: 100%
      img
        width: 100%


.title1
  top: 18%
  left: 0
  width: 224px
  +respond-to(834)
    width: 100%
.title2
  top: -33% //-52%
  left: 34%
  width: 317px
  +respond-to(1440)
    top: -52%
  +respond-to(1125)
    top: -32%
  +respond-to(1005)
    left: 35%
  +respond-to(961)
    left: 40%
  +respond-to(834)
    width: 100%
.title3
  bottom: 11%
  left: 25%
  width: 325px
  +respond-to(1125)
    left: 15%
  +respond-to(834)
    width: 100%
.title4
  top: -37%
  right: 2%
  width: 224px
  +respond-to(1440)
    top: -45%
  +respond-to(1368)
    top: -55%
  +respond-to(1125)
    top: -40%
  +respond-to(834)
    width: 100%
.title5
  bottom: 38%
  right: 5%
  width: 320px
  +respond-to(834)
    width: 100%

