include  vars

mixin link(className, href,name)
   a(class= className)(href= href)= name

mixin image(className, src, alt)
  img(class= className, src= src, alt= alt)

mixin button(classN,type, className, src, alt)
  button.js-btn(class= classN, type= type)
      +image(className, src, alt)

mixin bsItem
  for text in bsText
    .business__item
      .business__txt
        span= text

