- var test = "It`s test var"

- var bsText = ["Где у тебя будет оставаться достаточно времени и энергии на отдых", "Где ты сам будешь устанавливать правила игры", "Где ты будешь путешествовать по всему миру, работая удаленно", "Где тебе будет хватать денег на удовлетворение любого каприза", "Где ты сможешь реализовать свои самые смелые мечты", "Где каждый день будет приносить радость, а эмоции и драйв будут переливатся через край"]