@font-face {
  font-family: "MaryadProRegular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/MaryadProRegular/MaryadProRegular.eot");
  src: url("../fonts/MaryadProRegular/MaryadProRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/MaryadProRegular/MaryadProRegular.woff") format("woff"), url("../fonts/MaryadProRegular/MaryadProRegular.ttf") format("truetype"); }

a, abbr, address, article, aside, audio, b,
blockquote, body, canvas, caption, cite, code,
dd, del, details, dfn, div, dl, dt, em,
fieldset, figcaption, figure, footer, form,
h1, h2, h3, h4, h5, h6, header,
html, i, iframe, img, ins, kbd, label,
legend, li, mark, menu, nav, object,
ol, p, pre, q, samp, section, small, span,
strong, sub, summary, sup, table, tbody, td,
tfoot, th, thead, time, tr, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  outline: none; }

body input:required:valid,
body textarea:required:valid {
  outline: none; }

a:active:focus {
  outline: none; }

html, body {
  height: 100%; }

body {
  font-size: 16px;
  position: relative;
  line-height: 1.2;
  font-family: "MaryadProRegular", sans-serif;
  background: #f4f4f4;
  overflow-x: hidden;
  opacity: 1; }
  @media only screen and (max-width: 1002px) {
    body {
      font-size: 14px; } }

.cent {
  margin: 0 auto; }

/*======== header ==========*/
header {
  width: 100%;
  height: 80px;
  background: blue; }
  header h1 {
    font-size: 40px;
    color: white;
    text-align: center; }

/*========== content =========* */
section {
  width: 100%;
  height: 100vh; }
  section h2 {
    font-size: 40px;
    color: red;
    text-align: center;
    vertical-align: middle; }

/*========= footer ===========*/
.footer {
  width: 100%;
  height: 80px;
  background: blue; }
  .footer h2 {
    color: white;
    font-size: 40px;
    text-align: center; }
