@font-face {
  font-family: "ProximaNovaBold";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/ProximaNovaBold/ProximaNovaBold.eot");
  src: url("../fonts/ProximaNovaBold/ProximaNovaBold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaBold/ProximaNovaBold.woff") format("woff"), url("../fonts/ProximaNovaBold/ProximaNovaBold.ttf") format("truetype"); }

@font-face {
  font-family: "ProximaNovaExtrabold";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/ProximaNovaExtrabold/ProximaNovaExtrabold.eot");
  src: url("../fonts/ProximaNovaExtrabold/ProximaNovaExtrabold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaExtrabold/ProximaNovaExtrabold.woff") format("woff"), url("../fonts/ProximaNovaExtrabold/ProximaNovaExtrabold.ttf") format("truetype"); }

@font-face {
  font-family: "ProximaNovaSemibold";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/ProximaNovaSemibold/ProximaNovaSemibold.eot");
  src: url("../fonts/ProximaNovaSemibold/ProximaNovaSemibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaSemibold/ProximaNovaSemibold.woff") format("woff"), url("../fonts/ProximaNovaSemibold/ProximaNovaSemibold.ttf") format("truetype"); }

a, abbr, address, article, aside, audio, b,
blockquote, body, canvas, caption, cite, code,
dd, del, details, dfn, div, dl, dt, em,
fieldset, figcaption, figure, footer, form,
h1, h2, h3, h4, h5, h6, header,
html, i, iframe, img, ins, kbd, label,
legend, li, mark, menu, nav, object,
ol, p, pre, q, samp, section, small, span,
strong, sub, summary, sup, table, tbody, td,
tfoot, th, thead, time, tr, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  outline: none; }

body input:required:valid,
body textarea:required:valid {
  outline: none; }

a:active:focus {
  outline: none; }

html, body {
  height: 100%; }

body {
  font-size: 18px;
  position: relative;
  line-height: 1.2;
  font-family: "ProximaNovaSemibold", sans-serif;
  background: #000000;
  overflow-x: hidden;
  opacity: 1;
  -webkit-font-smoothing: antialiased;
  -webkit-appearance: none; }

.clear {
  clear: both; }

.container {
  max-width: 1170px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.flex-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

/*========= components =========*/
/*====== logo =======*/
.logo {
  width: 325px;
  height: auto; }
  .logo__img {
    width: 100%;
    object-fit: cover; }

.soc_icons {
  display: inline-block;
  width: 121px;
  height: 34px; }
  .soc_icons__icon {
    display: inline-block;
    margin-right: 3px; }
    .soc_icons__icon:last-child {
      margin-right: 0; }
  .soc_icons__link {
    width: 34px;
    height: 34px;
    display: inline-block; }

.vk {
  background: url(../../img/social_icons.png) 0 0; }

.fb {
  background: url(../../img/social_icons.png) -43px 0; }

.insta {
  background: url(../../img/social_icons.png) -87px 0; }

.btn {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#fe8a38), to(#fd0c12));
  background-image: -webkit-linear-gradient(bottom, #fe8a38 0%, #fd0c12 100%);
  background-image: linear-gradient(to top, #fe8a38 0%, #fd0c12 100%);
  cursor: pointer;
  border: none;
  -webkit-box-shadow: 0 0 0 2px #000000, 0 0 0 7px #ffffff;
          box-shadow: 0 0 0 2px #000000, 0 0 0 7px #ffffff; }

.btn-img {
  width: 82%; }

/*======== header ==========*/
.header {
  width: 100%;
  height: 684px;
  overflow: hidden;
  background: url(../img/top_bg.jpg) no-repeat center center;
  clip-path: polygon(0 0, 100% 0, 100% 82%, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 82%, 0 100%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  object-fit: cover; }
  .header__wrapper {
    margin-top: 80px;
    position: relative; }
    .header__wrapper:before {
      content: '';
      width: 678px;
      height: 417px;
      position: absolute;
      top: 122px;
      left: -58px;
      background: url(../img/car.png) no-repeat center center; }
  .header__left {
    width: 53.7%; }
  .header__right {
    width: 40%; }
  .header__logo {
    margin-left: 54.09681%; }
  .header__social {
    position: absolute;
    top: 0;
    right: 0; }
  .header__submit {
    width: 100%;
    padding-top: 112px; }
  .header__text {
    color: #ffffff;
    font-family: "ProximaNovaExtrabold", sans-serif;
    font-size: 34px;
    line-height: 36px;
    word-spacing: 4px;
    text-shadow: -0   -3px 0   #000000, 0   -3px 0   #000000, -0    3px 0   #000000, 0    3px 0   #000000, -3px -0   0   #000000, 3px -0   0   #000000, -3px  0   0   #000000, 3px  0   0   #000000, -1px -3px 0   #000000, 1px -3px 0   #000000, -1px  3px 0   #000000, 1px  3px 0   #000000, -3px -1px 0   #000000, 3px -1px 0   #000000, -3px  1px 0   #000000, 3px  1px 0   #000000, -2px -3px 0   #000000, 2px -3px 0   #000000, -2px  3px 0   #000000, 2px  3px 0   #000000, -3px -2px 0   #000000, 3px -2px 0   #000000, -3px  2px 0   #000000, 3px  2px 0   #000000, -3px -3px 0   #000000, 3px -3px 0   #000000, -3px  3px 0   #000000, 3px  3px 0   #000000, -3px -3px 0   #000000, 3px -3px 0   #000000, -3px  3px 0   #000000, 3px  3px 0   #000000; }
  .header__button {
    width: 98.37692%;
    height: 73px;
    margin-top: 37px; }

/*========== scills =========* */
.scills {
  width: 100%;
  height: 901px;
  position: relative;
  background: url(../img/bg2.jpg) no-repeat center center;
  -webkit-clip-path: polygon(0 14.3%, 100% 0, 100% 100%, 0 94%);
          clip-path: polygon(0 14.3%, 100% 0, 100% 100%, 0 94%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: -108px;
  object-fit: cover; }
  .scills__wrapper {
    width: 100%;
    position: relative; }
    .scills__wrapper:after {
      content: '';
      width: 477px;
      height: 876px;
      position: absolute;
      bottom: -76px;
      right: -100px;
      background: url(../../../img/men1.png) no-repeat center center; }
  .scills__header {
    width: 47%;
    font-family: "ProximaNovaExtrabold", sans-serif;
    font-size: 35px;
    font-weight: 400;
    color: #ffffff;
    padding-top: 151px;
    word-spacing: 4px;
    line-height: 1;
    text-shadow: -0   -3px 0   #000000, 0   -3px 0   #000000, -0    3px 0   #000000, 0    3px 0   #000000, -3px -0   0   #000000, 3px -0   0   #000000, -3px  0   0   #000000, 3px  0   0   #000000, -1px -3px 0   #000000, 1px -3px 0   #000000, -1px  3px 0   #000000, 1px  3px 0   #000000, -3px -1px 0   #000000, 3px -1px 0   #000000, -3px  1px 0   #000000, 3px  1px 0   #000000, -2px -3px 0   #000000, 2px -3px 0   #000000, -2px  3px 0   #000000, 2px  3px 0   #000000, -3px -2px 0   #000000, 3px -2px 0   #000000, -3px  2px 0   #000000, 3px  2px 0   #000000, -3px -3px 0   #000000, 3px -3px 0   #000000, -3px  3px 0   #000000, 3px  3px 0   #000000, -3px -3px 0   #000000, 3px -3px 0   #000000, -3px  3px 0   #000000, 3px  3px 0   #000000; }
  .scills__items {
    width: 63%;
    margin-top: 47px; }
  .scills__left {
    width: -webkit-calc(50% - 16px);
    width: calc(50% - 16px); }
  .scills__right {
    width: -webkit-calc(50% - 16px);
    width: calc(50% - 16px); }
  .scills__item {
    display: inline-block;
    width: 100%;
    height: 165px;
    background: rgba(0, 0, 0, 0.7);
    margin-bottom: 16px;
    -webkit-border-radius: 15px;
            border-radius: 15px;
    padding: 24px 17px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .scills__icon {
    width: 68px;
    height: 67px;
    display: inline-block;
    float: left; }
  .scills__txt {
    display: inline-block;
    width: 235px;
    font-family: "ProximaNovaSemibold", sans-serif;
    font-size: 18px;
    color: #ffffff;
    float: right; }

.accent-txt {
  font-size: 30px !important; }

.si1 {
  background: url(../img/scills_icons.png) no-repeat 0 0; }

.si2 {
  background: url(../img/scills_icons.png) no-repeat 0 -100px; }

.si3 {
  background: url(../img/scills_icons.png) no-repeat 0 -193px; }

.si4 {
  background: url(../img/scills_icons.png) no-repeat -86px 0; }

.si5 {
  background: url(../img/scills_icons.png) no-repeat -86px -99px; }

.si6 {
  background: url(../img/scills_icons.png) no-repeat -86px -194px; }

/*========== system ==========*/
.system {
  width: 100%;
  height: 637px;
  position: relative;
  background: url(../img/bg3.jpg) no-repeat center center;
  clip-path: polygon(0 0, 100% 8%, 100% 91.5%, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 8%, 100% 91.5%, 0 100%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: -36px;
  object-fit: cover; }
  .system__wrapper {
    width: 100%;
    position: relative; }
    .system__wrapper:before {
      content: '';
      width: 416px;
      height: 590px;
      position: absolute;
      background: url(../img/women1.png) no-repeat center center;
      bottom: -165px;
      left: -47px; }
  .system__wrap-child {
    width: 65.81297%;
    float: right; }
  .system__header {
    font-family: "ProximaNovaExtrabold", sans-serif;
    font-size: 35px;
    font-weight: 400;
    color: #ffffff;
    padding-top: 142px;
    word-spacing: 4px;
    line-height: 1;
    text-shadow: -0   -3px 0   #000000, 0   -3px 0   #000000, -0    3px 0   #000000, 0    3px 0   #000000, -3px -0   0   #000000, 3px -0   0   #000000, -3px  0   0   #000000, 3px  0   0   #000000, -1px -3px 0   #000000, 1px -3px 0   #000000, -1px  3px 0   #000000, 1px  3px 0   #000000, -3px -1px 0   #000000, 3px -1px 0   #000000, -3px  1px 0   #000000, 3px  1px 0   #000000, -2px -3px 0   #000000, 2px -3px 0   #000000, -2px  3px 0   #000000, 2px  3px 0   #000000, -3px -2px 0   #000000, 3px -2px 0   #000000, -3px  2px 0   #000000, 3px  2px 0   #000000, -3px -3px 0   #000000, 3px -3px 0   #000000, -3px  3px 0   #000000, 3px  3px 0   #000000, -3px -3px 0   #000000, 3px -3px 0   #000000, -3px  3px 0   #000000, 3px  3px 0   #000000; }
  .system__items {
    width: 100%;
    margin-top: 41px; }
  .system__left {
    width: -webkit-calc(50% - 10px);
    width: calc(50% - 10px); }
  .system__right {
    width: -webkit-calc(50% - 10px);
    width: calc(50% - 10px); }
  .system__item {
    display: inline-block;
    width: 100%;
    height: 95px;
    background: #ffffff;
    margin-bottom: 16px;
    -webkit-border-radius: 15px;
            border-radius: 15px;
    padding: 20px 58px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .system__txt {
    font-family: "ProximaNovaSemibold", sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #000000; }

/*=========== business ==========*/
.business {
  width: 100%;
  height: 939px;
  position: relative;
  background: url(../img/bg4.jpg) no-repeat center center;
  clip-path: polygon(0 6.3%, 100% 0, 100% 100%, 0 94%);
  -webkit-clip-path: polygon(0 6.3%, 100% 0, 100% 100%, 0 94%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: -39px;
  object-fit: cover; }
  .business__wrapper {
    width: 100%;
    position: relative;
    padding-top: 108px; }
    .business__wrapper:after {
      content: '';
      width: 419px;
      height: 745px;
      position: absolute;
      background: url(../img/men2.png) no-repeat center center;
      top: 18px;
      right: 0; }
  .business__left {
    width: 57%; }
  .business__right {
    width: 37%;
    position: relative; }
  .business__header {
    font-family: "ProximaNovaExtrabold", sans-serif;
    font-size: 35px;
    font-weight: 400;
    color: #ffffff;
    word-spacing: 4px;
    line-height: 1;
    text-shadow: -0   -3px 0   #000000, 0   -3px 0   #000000, -0    3px 0   #000000, 0    3px 0   #000000, -3px -0   0   #000000, 3px -0   0   #000000, -3px  0   0   #000000, 3px  0   0   #000000, -1px -3px 0   #000000, 1px -3px 0   #000000, -1px  3px 0   #000000, 1px  3px 0   #000000, -3px -1px 0   #000000, 3px -1px 0   #000000, -3px  1px 0   #000000, 3px  1px 0   #000000, -2px -3px 0   #000000, 2px -3px 0   #000000, -2px  3px 0   #000000, 2px  3px 0   #000000, -3px -2px 0   #000000, 3px -2px 0   #000000, -3px  2px 0   #000000, 3px  2px 0   #000000, -3px -3px 0   #000000, 3px -3px 0   #000000, -3px  3px 0   #000000, 3px  3px 0   #000000, -3px -3px 0   #000000, 3px -3px 0   #000000, -3px  3px 0   #000000, 3px  3px 0   #000000; }
  .business__item {
    width: 100%;
    display: inline-block;
    width: 100%;
    height: 100px;
    background: rgba(0, 0, 0, 0.5);
    margin-bottom: -11px;
    -webkit-border-radius: 15px;
            border-radius: 15px;
    margin-top: 29px; }
  .business__txt {
    display: block;
    font-family: "ProximaNovaSemibold", sans-serif;
    font-size: 24px;
    color: #ffffff;
    padding: 0 28px;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
  .business__button {
    width: 100%;
    height: 81px;
    position: absolute;
    left: 0;
    bottom: 0; }

/*========= get ==========*/
.get {
  width: 100%;
  height: 802px;
  position: relative;
  background: url(../img/bg5.jpg) no-repeat center center;
  clip-path: polygon(0 0, 100% 6.5%, 100% 87.3%, 0 94%);
  -webkit-clip-path: polygon(0 0, 100% 6.5%, 100% 87.3%, 0 94%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: -41px;
  object-fit: cover; }

/*========== chenging ===========*/
.chenging {
  width: 100%;
  height: 488px;
  position: relative;
  background: url(../img/bg6.jpg) no-repeat center center;
  clip-path: polygon(100% 0, 100% 89%, 50% 100%, 0 89%, 0 11.3%);
  -webkit-clip-path: polygon(100% 0, 100% 89%, 50% 100%, 0 89%, 0 11.3%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: -86px;
  object-fit: cover; }

/*========= footer ===========*/
.footer {
  width: 100%;
  height: 1037px;
  position: relative;
  background: url(../img/last_bg1.jpg) no-repeat center center;
  clip-path: polygon(50% 5.2%, 100% 0, 100% 100%, 0 100%, 0 0);
  -webkit-clip-path: polygon(50% 5.2%, 100% 0, 100% 100%, 0 100%, 0 0);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: -38px;
  object-fit: cover; }
